{% load mathfilters %}

<!-- Card Per Row -->
<div class="col-lg-6 col-xs-12 my-2">
	<div class="card bg-card" width="100%">
		<h3 class="card-header">{{bill.name}}</h3>
		<!-- Card Body-->
		<div class="card-body">
			<h5 class="card-title">{{bill.amount}}/-</h5>
			<!--Card Text-->
			<h6 class="card-subtitle mb-2 text-muted"><i>{{bill.amount|sub:bill.paid_amount}}/- Due before {{bill.due_date}}</i></h6>
			<!-- Progress Bar -->
			<div class="progress my-1 bg-progress-not-paid" style="Height:30px">
				{% if bill.paid_percentage == 100 %}
				<div class="progress-bar bg-progress-paid fg-progress" style="width: {{bill.paid_percentage}}%" role="progressbar" aria-valuenow="{{bill.paid_percentage}}" aria-valuemin="0" aria-valuemax="100">
				{% elif bill.paid_percentage == 0 %}
				<div class="progress-bar bg-progress-not-paid" style="width: 100%" role="progressbar" aria-valuenow="{{bill.paid_percentage}}" aria-valuemin="0" aria-valuemax="100">
				{% else %}
				<div class="progress-bar bg-progress-paying fg-progress" style="width: {{bill.paid_percentage}}%" role="progressbar" aria-valuenow="{{bill.paid_percentage}}" aria-valuemin="0" aria-valuemax="100">
				{% endif %}
					<div class="p-1 text-center fg-progress" style="font-weight:bold; font-size:15px;">
						Total {{bill.paid_amount}}/- Paid
						{% if bill.payers%}
						by <i>{{bill.payers}}</i>
						{% endif %}
					</div>
				</div>
			</div> 
			<!-- END Progress Bar -->
			<!--END Card Text-->


			<!--Buttons-->
			<div class="btn-group" style="width:100%;">
			{% if bill.status %}
				<button class="btn btn-paid disabled" style="width:90%">
					Cleared on {{bill.clearance_date}}
				</button>
				<button type="button" class="btn btn-paid-outline dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
			{% else %}
				<a href="{% url 'bill_update_page' bill.id %}" class="btn btn-pay" style="width:90%">Pay</a>
				<button type="button" class="btn btn-pay-outline dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
			{% endif %}
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'bill_adjust_page' bill.id %}">Adjust Bill</a></li>
					<li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Tx-data-{{bill.id}}">See Contributions</button></li>
				</ul>
			</div>
			<!--END Buttons-->
		</div>
		<!--END Card Body-->
	</div> 
	<!--END Card -->
</div>
<!-- END Card Per Row-->
