
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">
					<i class="fa fa-exclamation-triangle" style="color:red;"></i>
					Attempt to Delete List: <span style="color:red;">{{todo_list.list_name}}</span></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete <b>{{todo_list.list_name}}</b>?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a class="btn btn-danger" href="{% url 'delete_todo_list' todo_list.pk %}">
					<i class="fa fa-trash" aria-hidden="true"></i>
					Yes, Delete
				</a>
			</div>
		</div>
	</div>
</div>



